<div class="jumbotron">
  <h1>Pomodoro Taks</h1>
  <p class="lead">Um aplicativo para a organização de tarefas para programadores.</p>
  <p><a class="btn btn-lg btn-success" href="/signup" role="button">Cadastre-se agora</a></p>
</div>