// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-list {
  border: 1px solid #ccc;
  padding: 20px;
}

.project-list-row div{
  display: inline;
}

.project-tasks-list {
  padding-left: 0px;
}

.project-task-row {
  list-style: none;
}

.project-task-row:hover {
  background-color: #ccc;
}